html {
  font-size: 16px;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

$acl-and-mft-animation-duration: 10s;
$acl-and-mft-length: 1977;
$acl-position-left: 40vw;
$acl-position-top: 20vh;
.aclandmft-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90vw;
  height: 100vh;

  svg {
    position: absolute;
    left: $acl-position-left;
    top: $acl-position-top;
    stroke-dasharray: $acl-and-mft-length;
    animation: $acl-and-mft-animation-duration fillSvg linear,
      3s scaleAndMoveLeft linear $acl-and-mft-animation-duration/4 forwards;
  }
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: $acl-and-mft-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleAndMoveLeft {
  0% {
    transform: scale(1);
    left: $acl-position-left;
    top: $acl-position-top;
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    left: 0;
    opacity: 0;
    top: -15vh;
  }
}

.logo-left {
  display: block;
  padding: 0.25rem 1rem;
  background: transparent;
  position: fixed;
  left: 1rem;
  top: 1rem;
  animation: fadeIn 2s linear $acl-and-mft-animation-duration/2 forwards;
  opacity: 0;
  .logo {
    text-align: center;
    img {
      max-width: 8rem;
    }

    &.mft-logo-container {
      img {
        filter: invert(1);
      }
    }
    &.acl-logo-container {
      img {
        margin: 0 1rem;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translate3d(2rem, 2rem, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.effect-typing-text-container {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  color: #fff !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 2rem 20%;
  box-sizing: border-box;
  a {
    margin: 0;
    font-size: 2rem;
    padding: 0;
    text-decoration: none;
    color: white;
  }
}

#canvasBackgroundFirework {
  position: fixed;
  top: 0;
  left: 0;
}
