:root {
  --primary: #217345;
}
html {
  font-size: 16px;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

$acl-and-mft-animation-duration: 10s;
$acl-and-mft-length: 1977;
$acl-position-left: 40vw;
$acl-position-top: 20vh;
.aclandmft-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90vw;
  height: 100vh;

  svg {
    position: absolute;
    left: $acl-position-left;
    top: $acl-position-top;
    stroke-dasharray: $acl-and-mft-length;
    animation: $acl-and-mft-animation-duration fillSvg linear,
      3s scaleAndMoveLeft linear $acl-and-mft-animation-duration/4 forwards;
  }
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: $acl-and-mft-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleAndMoveLeft {
  0% {
    transform: scale(1);
    left: $acl-position-left;
    top: $acl-position-top;
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    left: 0;
    opacity: 0;
    top: -15vh;
  }
}

.logo-left {
  display: block;
  padding: 0.25rem 1rem;
  background: transparent;
  position: fixed;
  left: 1rem;
  top: 1rem;
  animation: fadeIn 2s linear $acl-and-mft-animation-duration/2 forwards;
  opacity: 0;
  z-index: 10;
  .logo {
    text-align: center;
    img {
      max-width: 8rem;
    }

    &.mft-logo-container {
      img {
        filter: invert(1);
      }
    }
    &.acl-logo-container {
      img {
        margin: 0 1rem;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translate3d(2rem, 2rem, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.effect-typing-text-container {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  color: #fff !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 2rem 20%;
  box-sizing: border-box;
  a {
    margin: 0;
    font-size: 2rem;
    padding: 0;
    text-decoration: none;
    color: white;
  }
}

#canvasBackgroundFirework {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.countdown-container {
  background: var(--primary);
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  opacity: 0;
  &.is-active {
    animation: countdown 2s linear forwards;
  }

  .star {
    position: absolute;
    will-change: transform;
    width: 1.25rem;
    height: 1.25rem;
    fill: hsla(var(--hue, 45), 90%, 70%, var(--alpha, 0));
    z-index: 10;
    /* higher than button before click */
  }

  .icon {
    --alpha: 1;
  }

  button {
    position: relative;
    font-size: 1.3rem;
    font-family: monospace, sans-serif;
    max-width: 25ch;
    width: auto;
    text-align: left;
    padding: 1rem 1.75rem;
    border-radius: 0.3rem;
    background: inherit;
    border: none;
    /* background: rgb(29, 36, 58);
  color: rgba(255, 255, 255, .95); */
    z-index: 5;
  }

  button:focus {
    outline: none;
  }

  button:hover {
    cursor: pointer;
    /*     background: rgb(24, 30, 48); */
  }

  .icon {
    position: relative;
    right: 18px;
    top: -2px;
    margin-left: 5.5rem;
  }

  .box-time {
    text-align: center;
    font-family: "Kalam", cursive;
  }

  .box-time a {
    display: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-size: 100px;
    line-height: 0.5;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -4px 3px 0 var(--primary), -14px 7px 0 #0a0e27;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }
}

@keyframes countdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.iframe-fullscreen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.update-year-container.is-active {
  $update-year-animation-duration: 10s;
  $update-year-animation-delay: 2s;
  *,
  *:after,
  *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    // transition: all 100ms ease-in $update-year-animation-delay;
  }

  html {
    background: #222048;
  }

  .feliz {
    width: 100%;
    font-size: 100px;
    font-weight: 700;
    color: #f48fb1;
    text-align: center;
    position: absolute;
    top: 50%;
    opacity: 0;
    animation: vem_feliz 2s ease-in-out 7s forwards;
  }

  .ano_novo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 200px 100px 0px 0px;
  }

  .ano_novo > span {
    font-family: "Montserrat", sans-serif;
    font-size: 175px;
    font-weight: 700;
    color: #7a8fe8;
  }

  span.seis {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -200px;
    animation: vai_2016 5s ease-in-out 5s forwards;
  }

  span.sete {
    position: absolute;
    right: 0%;
    margin-right: -200px;
    animation: vem_2017 6s ease-in-out forwards;
  }

  span.sete:before {
    content: "";
    width: 0px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background: #7a8fe8;
    transform: rotate(0deg);
    transform-origin: left top;
    position: absolute;
    top: 55px;
    left: 10px;
    z-index: -1;
    animation: entrega_balao 1s ease-in-out 4s;
  }

  .balao {
    width: 100px;
    height: 100px;
    display: block;
    background: #e8d57a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -165px;
    right: 0%;
    margin-right: -200px;
    animation: vem_e_vai_balao 10s ease-in-out forwards;
  }

  .balao:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #b19b32 transparent;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
    z-index: -1;
  }

  .balao:after {
    content: "";
    width: 4px;
    height: 100px;
    display: block;
    background: #fff;
    border-radius: 0px 0px 3px 3px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: -110px;
  }

  .fogos {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .fogos > div {
    border: 2px solid #fff;
    position: absolute;
    opacity: 0;
    animation: solta_fogos 1.5s ease-in-out 8s forwards;
  }

  .fogos > div.f1 {
    left: 20%;
    top: 40%;
  }

  .fogos > div.f2 {
    left: 15%;
    top: 70%;
  }

  .fogos > div.f3 {
    right: 20%;
    top: 40%;
  }

  .fogos > div.f4 {
    right: 15%;
    top: 70%;
  }

  .fogos > div span {
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: estoura_fogos 0.5s ease-in-out 9s forwards;
  }

  .fogos > div span:nth-child(1) {
    transform: rotate(0deg);
  }

  .fogos > div span:nth-child(2) {
    transform: rotate(120deg);
  }

  .fogos > div span:nth-child(3) {
    transform: rotate(240deg);
  }

  .fogos > div span:before {
    content: "";
    width: 2px;
    height: 50px;
    display: block;
    background: #f5cc06;
    position: absolute;
    top: -60px;
    left: 2px;
  }

  .fogos > div span:after {
    content: "";
    width: 2px;
    height: 50px;
    display: block;
    background: #f5cc06;
    position: absolute;
    bottom: -60px;
    left: 2px;
  }

  .fogos > div span i:before {
    content: "";
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15px;
    left: 10px;
  }

  .fogos > div span i:after {
    content: "";
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15px;
    right: 10px;
  }

  a.author {
    font-size: 12px;
    text-decoration: none;
    color: #f47c7c;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  @keyframes vem_2017 {
    0% {
      right: 0%;
    }

    66.6666% {
      right: 50%;
      margin-right: -300px;
    }

    90% {
      right: 50%;
      margin-right: -300px;
    }

    100% {
      right: 50%;
    }
  }

  @keyframes vem_e_vai_balao {
    0% {
      right: 0%;
    }

    40% {
      right: 50%;
      margin-right: -300px;
    }

    50% {
      right: 50%;
      margin-right: -200px;
      top: 50%;
    }

    100% {
      top: -100%;
      right: 50%;
    }
  }

  @keyframes entrega_balao {
    0% {
      transform: rotate(-30deg);
      width: 40px;
    }

    100% {
      transform: rotate(-150deg);
      width: 70px;
    }
  }

  @keyframes vai_2016 {
    0% {
      top: 50%;
    }

    100% {
      top: -100%;
    }
  }

  @keyframes vem_feliz {
    0% {
      margin-top: 0px;
      opacity: 0;
    }

    100% {
      margin-top: -200px;
      opacity: 1;
    }
  }

  @keyframes solta_fogos {
    0% {
      margin-top: 100%;
      opacity: 0;
      width: 2px;
      height: 30px;
      display: block;
      border-radius: 50%;
    }

    75% {
      margin-top: 0%;
      opacity: 1;
      width: 2px;
      height: 30px;
      display: block;
      border-radius: 50%;
    }

    80% {
      margin-top: 0px;
      margin-left: 0px;
      opacity: 1;
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      transform: scale(0.2);
    }

    100% {
      opacity: 1;
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      transform: scale(1);
    }
  }

  @keyframes estoura_fogos {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

:root {
  --size-div: 3;
  --page-width: 200px;
  --page-height: 100px;
}

.letter-container {
  margin: 0 0;
  background: pink;
  font-family: "Dancing  Script", cursive;
  font-size: calc(8.3px * 3);
  height: 100vh;
  width: 100%;
  opacity: 0;

  &.is-active {
    height: 100vh;

    padding-bottom: 4rem;
    animation: 2s letterMoveRightToLeft linear forwards;
  }

  .letter {
    display: grid;
    place-items: center;
    width: 100%;
    position: absolute;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
  }

  .increment:hover {
    --size-div: 3.1;
  }

  .letter .page {
    background: rgb(255, 237, 237);
    width: calc(200px * 4);
    min-height: calc(100px * 3);
    margin: auto;
    border-radius: calc(3.3px * 3);
    box-shadow: calc(1.3px * 3) calc(2.3px * 3) #888888;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: calc(100px * 4) solid transparent;
    border-right: calc(100px * 4) solid transparent;
    border-radius: calc(3.3px * 4);
    border-top: calc(60px * 4) solid #ffd4fa;
  }

  #content {
    display: none;
    text-align: left;
    font-size: calc(7.8px * 3);

    padding: 1rem;
  }

  #name {
    padding: 1rem;
    user-select: none;
  }
}

@keyframes letterMoveRightToLeft {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.next-section-button {
  display: flex;
  box-shadow: none;
  background: transparent;
  position: absolute;
  border: none;
  left: 3rem;
  bottom: 4rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.2s;
  &:hover {
    opacity: 1;
  }
  img {
    width: 3rem;
    height: 3rem;
  }
}
